#ground-floor {
    background: url('../images/outside-ground.jpg');
    background-repeat: repeat;
    height:11.8vh
}

#underground-cieling {
    background: url('../images/underground-cieling.jpg');
    background-repeat: repeat-x;
    height:5.9vh
}

#underground-floor {
    background: url('../images/underground-floor.jpg');
    background-repeat: repeat;
    height:10.6vh
}

#underwater-cieling {
    background: url('../images/underwater-cieling.jpg');
    background-repeat: repeat;
    height:5.3vh
}

#underwater-floor {
    background: url('../images/underwater-floor.jpg');
    background-repeat: repeat;
    height:11vh
}

#boss-cieling {
    background: url('../images/boss-cieling.jpg');
    background-repeat: repeat-x;
    height:5.9vh
}

#boss-floor {
    background: url('../images/boss-floor.jpg');
    background-repeat: repeat-x;
    height:11vh
}

#lava {
    background: url('../images/lava.jpg');
    background-repeat: repeat-x;
    height:5.5vh
}

/* section backgrounds */

#ground-background {
    background-color: var(--skyblue);
    height:88.2vh;
    position: relative;
}

#underground-background {
    background-color: var(--black);
    height:83.5vh;
    position: relative;
}

#boss-background {
    background-color: var(--black);
    height:77.6vh
}
#underwater-background {
    background-color: var(--waterblue);
    height:83.7vh;
    position:relative;
}