#mario {
    position: absolute;
    z-index: 3;
    height:9.4vh;
    transform: translate(82vw, 78.9vh)
}

#mario-boss {
    position: absolute;
    z-index: 3;
    height:9.4vh;
    transform: translate(23vw, 68.1vh)
}
#bowser {
    position: absolute;
    z-index: 1;
    height: 12vh;
    transform: translate(81vw, 65.6vh);
}

#squid1 {
    position: absolute;
    z-index: 1;
    height: 25vh;
    transform: translate(27vw, 59vh);
}
#squid2 {
    position: absolute;
    z-index: 1;
    height: 15vh;
    transform: translate(81vw, 31vh);
}