/* GROUND ITEMS */
#cloud1 {
    position: absolute;
    z-index: 1;
    transform: translate(14vw, 12vh);
}

#cloud2 {
    position: absolute;
    z-index: 1;
    transform: translate(82vw, 31vh);
}

#hill1 {
    position:absolute;
    z-index: 1;
    height:13.8vh;
    transform: translate(80vw, 74.4vh);
}

#bush1 {
    position:absolute;
    z-index: 1;
    height: 6.3vh;
    transform: translate(55vw, 81.9vh);
}

/* BOSS ITEMS */
#githubBlock {
    position: absolute;
    z-index: 1;
    transform: translate(39vw, 52vh);
}

#linkedinBlock {
    position: absolute;
    z-index: 1;
    transform: translate(44vw, 52vh);
}

#emailBlock {
    position: absolute;
    z-index: 1;
    transform: translate(49vw, 52vh);
}

#extraBlock {
    position: absolute;
    z-index: 1;
    transform: translate(54vw, 52vh);
}

#chatbox {
    position:absolute;
    z-index: 1;
    transform: translate(67vw, 46vh);
    width:21vw;
    height:17vh
}

#chatboxcontent {
    position: absolute;
    z-index: 2;
    transform: translate(68vw, 49vh);
}

#seabush1 {
    position: absolute;
    height: 11.5vh;
    z-index: 1;
    transform: translate(41vw, 72.2vh);
}
#seabush2 {
    position: absolute;
    height: 22.9vh;
    z-index: 1;
    transform: translate(66vw, 60.8vh);
}

#squidchatbox {
    position: absolute;
    z-index: 1;
    height: 13vh;
    transform: translate(34vw, 56vh);
}

#squidchatboxcontent {
    position: absolute;
    z-index: 2;
    transform: translate(35.5vw, 57.4vh);
}

#underground-decoration {
    height: 17.5vh;
    position: absolute;
    transform: translate(25vw, 45vh);
}

@media screen and (max-width:1700px) {
    #hill1 {
        display:none
    }
}