:root {
    --black: #000000;
    --skyblue: #5D94FB;
    --waterblue: #4342FF;
    --orangebrown: #D0510C;
}

a {
    text-decoration: none;
    cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6 { 
    font-family: 'Press Start 2P', cursive;
    color: white;
}

body {
    width: 100vw;
    background-color: var(--black);
    overflow-x: hidden;
}

#bannertitle {
    font-size: 2vh;
}

.center {
    margin: 0 auto 0 auto;
    width:auto;
}

#header {
    background-color: var(--orangebrown);
    margin:17vh auto 1vh auto;
    width: auto;
    z-index: 2;
    box-shadow: 5px 5px black, -5px -5px white ;
}

/* #allProjects {
    gap: 30px;
} */

.project {
    width:200px;
    height: 200px;
    margin-top:1.5rem;
    flex:1 0;
    background-color: #008C8D;
    box-shadow: 3px 3px #013d3d, -3px -3px rgb(182, 182, 182);
}

.project:hover {
    cursor: pointer;
}

.modal-content {
    background-color: #008C8D;
    box-shadow: 5px 5px #013d3d, -5px -5px rgb(182, 182, 182);
}

#allProjects {
    margin:0 1.5rem;
}

#aboutmecontainer {
    background-color: #25AA10;
    position: relative;
    margin: 0 20vw;
    box-shadow: 3px 3px black, -3px -3px white;
    z-index: 3;
}

#topbar {
    background-color: var(--skyblue);
    height:5vh;
    z-index: 1;
    padding:1vh 1vw 0 1vh;
    position: absolute
}
#topbar div h3 {
    font-size: 1.6vw;
}

hr {
    height:3px
}



@media screen and (min-width: 1500px) {
    #topbar div h3 {
        font-size: 1.5rem;
    }
}

