:root {
    --black: #000000;
    --skyblue: #5D94FB;
    --waterblue: #4342FF;
    --orangebrown: #D0510C;
}

h1,
h2 { 
    font-family: 'Press Start 2P', cursive;
    color: white;
}

h1 {
    font-size: 60px;
}

body {
    width: 100vw;
    background-color: var(--black);
    overflow-x: hidden;
}

/* Floor and Cieling Items */



#header {
    margin-top: 20vh;
    margin-right: 7vw;
    /* background-color: var(--orangebrown); */
}



@media screen and (max-width: 991px) {
    #header {
        margin-left:0
    }
}

